/* General Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 24px;
  box-sizing: border-box;
  background: #eee9bb;
}

.div1 {
  height: 100px;
  width: 100px;
  background-color: #e29578;
}

.btn1 {
  padding: 10px;
  color: #006d77;
  background-color: #edf6f9;
  border: 1px solid #006d77;
  letter-spacing: 1px;
}

.btn1:hover {
  cursor: pointer;
  border: 1px solid black;
  color: black;
}